{% extends "index.html" %}
{% block title %}
<title>Mes favoris</title>
{% endblock %}
{% block content %}
{% load static %}
<!-- searched product-->
<div class="page-section bg-dark bg-results-custom" id="searched_product">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="text-white col-lg-8 text-center ">
                <p class="h2 mb-5">
                    Mes aliments sauvegardés
                    <!--return the api field "generic_name" or "product_name" based on the product searched by the user-->
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Alternatives-->
<div class="container">
    <div class="row">
        {% if fav_products %}
        {% for product in fav_products %}
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card m-3 text-center">
                <span class="nutriscore A">{{product.nutrition_grade}}</span>
                <!-- nutriscore: api field  "nutriscore_grade"-->
                <a href="{{product.id}}/details">
                    <img class="card-img-top mx-auto mt-2" src="{{product.image_front_small_url}}"
                        alt="alterntaive product image" style="width: 200px;">
                </a>
                <!-- card image: api field "image_front_small_url"-->
                <div class="card-body text-center">
                    <a href="{{product.id}}/details">
                        <h5 class="card-title">{{product.product_name}}</h5>
                    </a>
                    <!-- card title: api field "generic_name" or "product_name" -->
                    <a href="{{product.url}}">
                        <img class="m-1" src="{% static 'assets/img/icons/save.png' %}" alt="icone enregistrer">
                        <!-- need to create the right interaction when save icon clicked -->
                    </a>
                    <span class="card-text">Sauvegarder</span>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p class="text-danger">Pas de favoris enregistrés</p>
        {% endif %}
    </div>
</div>

{% endblock %}