{% extends "index.html" %}
{% block content %}
{% load static %}
<!-- welcome message-->
<div class="page-section bg-dark bg-results-custom" id="welcome" style="background:url(../assets/img/bg-masthead.jpg)">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="text-white col-lg-8 text-center ">
                <p class="h2 mb-5">
                    Bienvenue!
                    <!--return the api field "generic_name" or "product_name" based on the product searched by the user-->
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Inscription ou connexion-->
<div class="container my-5">
    <div class="row">
        <div class="col-12 col-md-6 px-5" style="border-right: 1px solid #ccc;">
            <!-- CONNEXION -->
            <h3 class="text-center mt-4">Connexion</h3>
            <form class="">
                <label for="userName" class="form-label">Nom d'utilisateur</label>
                <input type="text" id="userName" class="form-control"
                    aria-label="champ nom d'utilisateur pour l'inscription">
                <label for="inputPassword" class="form-label">Mot de passe</label>
                <input type="password" id="inputPassword" class="form-control"
                    aria-label="champ mot de passe pour l'inscription">
                <div class="row mt-4">
                    <div class="col-12 text-center my-4">
                        <button class="btn bg-primary my-2 my-sm-0 " type="submit">
                            <a class="text-white" href="{% url 'home'%}">Je me connecte</a>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12 col-md-6 px-5">
            <!-- INSCRIPTION -->
            <h3 class="text-center mt-4">Inscription</h3>
            <form class="">
                <label for="userNameSignup" class="form-label">Nom d'utilisateur</label>
                <input type="text" id="userNameSignup" class="form-control"
                    aria-label="champ nom d'utilisateur pour l'inscription">
                <label for="inputPasswordSignup" class="form-label">Mot de passe</label>
                <input type="password" id="inputPasswordSignup" class="form-control"
                    aria-label="champ mot de passe pour l'inscription">
                <label for="emailSignup" class="form-label">Email</label>
                <input type="mail" id="emailSignup" class="form-control" aria-label="champ email pour l'inscription">
                <label for="first_nameSignup" class="form-label">Prénom</label>
                <input type="text" id="first_nameSignup" class="form-control"
                    aria-label="champ Prénom pour l'inscription">
                <label for="last_nameSignup" class="form-label">Nom de famille</label>
                <input type="text" id="last_nameSignup" class="form-control"
                    aria-label="champ Nom de famille pour l'inscription">
                <div class="row mt-4">
                    <div class="col-12 text-center my-4">
                        <button class="btn bg-primary my-2 my-sm-0 " type="submit">
                            <a class="text-white" href="{% url 'home'%}">Je m'inscris</a>
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
{% endblock %}